.gs-Overlay{
  background: rgba(255, 255, 255, .8);
  /* Black w/ opacity */
}
.gs-Modal{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fefefe;
}
.gs-header {
  padding: 2px 16px;
  color: white;
  font-family: 'Dancing Script';
  letter-spacing: 1.5px;
  font-size: 17px;
  line-height: 17px;
  background: #38b9ff;
}

.gs-body {
  padding: 2px 16px;
  color: #6d6e71;
}

.gs-footer {
  padding: 15px 20px;
  text-align: right;
}

.gs-footer button {
  outline: none;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gs-cancel {
  box-shadow: 0px 0px 0px 3px #5c5c5f inset;
  /*#ff2e63*/
  background: white;
  color: #6d6e71;
}

.gs-cancel:hover {
  color: black;
}

.gs-confirm {
  color: white;
  background: #38b9ff;
}

.gs-confirm:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
